a.nav-link {
    
    font-size: 0.975rem;
    text-transform: uppercase;
    color: #555;
    background-color: transparent;
    font-weight: 600;
    position: relative;
    margin-left:3rem;
}
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #dc2724 !important;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(217, 41, 35, 0.47) !important;
}
img {
    width: 100%;
}
.carousel-caption {
    position: absolute;
    top: 40%;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #db201a;
    text-align: center;
}
.carousel-caption h1 {
  font-size: calc(2vw + 0.5rem);
}
.carousel-caption p {
  font-size: calc(1vw + 0.5rem);
}
.navbar {
    z-index: 999;
}
.title_block {
  font-size: 1.875rem;
    color: #f7796e;
    text-transform: uppercase;
    text-align: center;
    margin: 15px 0 1.25rem;
    padding: 15px 1.25rem;
}
 .ab {
   margin-top: 2.5rem;
 }
 .ab1 {
  font-size: .875rem;
  color: #666;
  font-weight: 400;
  line-height: 1.583rem;
  padding-top: 3rem;
 }
 .read-more {
  margin-top: 3.125rem;
 }
 .read-more a {
  position: relative;
  padding-left: 1.875rem;
  padding-right: 1.25rem;
 }
 .read-more a:hover {
  color: #f7796e;
  text-decoration: none;
  cursor: pointer;
}
.abt {
  border-radius: 5rem;
  box-shadow: 5px 5px 8px 8px rgba(0,0,0,0.25), -5px -5px 1px -7px rgba(0,0,0,0.22);
  cursor: pointer;
  transition: 0.4s;
}
.abt:hover {
  
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}
i {
  color: #f7796e;
  vertical-align: middle;
}
.set1,.set2,.set3 {
  display: flex;
  padding-top: 3rem;
}
@media (min-width: 992px)
{
  .icons  {
    font-size: 2.25rem;
    padding-right: 1.5625rem;
    padding-left: 2.6625rem;
}
}
.icons  {
  font-size: 2.25rem;
  padding-right: 1.5625rem;
  padding-left: 2.6625rem;
}
.cont {
  vertical-align: middle;
}
.wslide:hover {
  width:auto;
    height:auto;
    outline: 1px solid #fff;
    outline-offset: -20px;
}
