a.nav-link {
    
    font-size: 0.975rem;
    text-transform: uppercase;
    color: #555;
    background-color: transparent;
    font-weight: 600;
    position: relative;
    margin-left:3rem;
}
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #dc2724 !important;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(217, 41, 35, 0.47) !important;
}
img {
    width: 100%;
}
.carousel-caption {
    position: absolute;
    top: 40%;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #db201a;
    text-align: center;
}
.carousel-caption h1 {
  font-size: calc(2vw + 0.5rem);
}
.carousel-caption p {
  font-size: calc(1vw + 0.5rem);
}
.navbar {
    z-index: 999;
}

 