/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
 /* width */
::-webkit-scrollbar {
    width: 7px;
    border-radius: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f4426b; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #f4426b; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #e8472e; 
  }